<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="poketmon.dao.PoketmonMapper">
	<
	<insert id="insertPoketmon" parameterType="Poketmon">
	INSERT INTO poketmon (No, kor_name, jap_name, height, weight, c_rate, g_rate, type, sort, character, h_character, e_point)
	VALUES (#{No}, #{kor_name}, #{jap_name}, #{height}, #{weight}, #{c_rate}, #{g_rate}, #{type}, #{sort}, #{character}, #{h_character}, #{e_point})
	</insert>
	 
	 
</mapper>